/**
 * Media Queries CSS
******************************************/

 /* Make Responsive */
#branding{
	max-width: 95%;
}
.main-wrap{
	max-width: 95%;
}
#footer{
	max-width: 95%;
}
#landing-page-header{
	max-width: 95%;
}
 
/* === VIEWPORT FIX === */
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

/* === 1000px === */
@media screen and (max-width: 1000px){
	.wordpress .main-wrap{
		padding-right: 0;
		padding-left: 0;
		background-image: none;
	}
	.wordpress #sidebar-primary-wrap{
		margin-right: 0;
		margin-left: 0;
		float: left;
		width: 100%;
	}
	.wordpress #sidebar-primary-wrap .widget{
	}
}

/* === 700px === */
@media screen and (max-width: 700px) {
	#landing-page-header{
		padding: 80px 20px 8px 2px;
		padding: 8rem 2rem 8rem 2rem;
	}
	#respond .comment-form-author,
	#respond .comment-form-email,
	#respond .comment-form-url{
		width: 100%;
		margin-right: 0;
		float: none;
	}
	#respond #submit{
		float: none;
	}
}

/* === 500px ===  */
@media screen and (max-width: 500px) {
	.loop-title{
		margin-left: 10px;
		margin-left: 1rem;
	}
	.loop-description{
		padding: 10px 10px 0;
		padding: 1rem 1rem 0;
	}
	.entry-byline .entry-published{
		padding: 5px 10px;
		padding: 0.5rem 1rem;
	}
	.entry-byline .entry-author a{
		padding: 5px 10px;
		padding: 0.5rem 1rem;
	}
	.entry-title a{
		padding: 20px 10px;
		padding: 2rem 1rem;
	}
	.entry-summary,
	.entry-content{
		padding: 10px;
		padding: 1rem;
	}
	a.comments-link, span.comments-link a{
		width: 100%;
		padding: 5px 10px;
		padding: 0.5rem 1rem;
	}
	.entry-footer{
		padding: 10px;
		padding: 1rem;
	}
	.loop-nav{
		padding: 10px;
		padding: 1rem;
	}
	#comments-number{
		padding: 10px;
		padding: 1rem;
	}
	#comments .comment-content{
		padding: 10px 10px 0;
		padding: 1rem 1rem 0;
	}
	#reply-title{
		padding: 10px;
		padding: 1rem;
	}
	#respond #commentform{
		padding: 10px;
		padding: 1rem;
	}
}